body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    margin: 10px 0px;
    padding: 0;
    font-size: 40px;
}

header{
    background-color: aqua;
    padding: 10px 20px;
    text-align: center;

}

nav{
    background-color: #444;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a{
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
    background-color: inherit;
    color: beige;
    text-decoration: underline;
}

main{
}

.about{
    display: flex;
    align-items: center;
}

.pic{
    flex: 1;
    box-sizing: border-box;
    align-items: right;
    width: 50%;
}

.pic img{
    height: auto;
    border-radius: 50%;
}

.about_text{
    flex: 2;
    height: auto;
}

hr{
    width: 96%;
    text-align: center;
}

footer{
    display: block;
    /*background-color: dimgray;
    color: antiquewhite;*/
    text-align: center;
}

.foot_col{
    width: 32%;
    float: left;
    margin: 1% 0.5%;
}

.f_para{
    float: center;
}

.social_logos{
    height: 30px;
    width: 30px;
    margin: 0.5%;
}