body, h1, h2, p, ul, li{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a6269;
    color: rgb(122, 103, 186);
}

header{
    background-color: 333;
    padding: 20px;
}

h1{
    color: #1bb715;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
}